<li class="cv__grid-item">
  <img class="cv__grid-item-image" src="<%- item.image %>" />
  <p class="cv__grid-item-title"><strong> <%- item.who %> </strong></p>
  <p class="cv__grid-item-subtitle"> <%- item.what %> </p>
  <p class="cv__grid-item-info">
    <span> <%- item.when %> </span> <br>
    <span> <%- item.where %> </span>
  </p>
</li>